/* General Styles */
@font-face {
  font-family: "Broman";
  src: url("../Images/BromanPersonalUseOnly-9Y2xj.woff") format("woff"); /* Adjust the path to your font file */
  /* You can specify other font formats here as well */
}
body {
  background: url("../Images/Background offwhite colour.png") center center
    fixed;
  background-size: cover;
}
html {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS",
    sans-serif;
}
a {
  text-decoration: none;
  color: black;
}

.page-border {
  /* padding: 1rem; */
  border: 2px solid black;
  border-radius: 30px;
  width: 96%;
  height: fit-content;
  /* max-width: 1222px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  min-height: 97vh;
}

.show-on-mobile {
  display: none !important;
}
.hide-on-mobile {
  display: flex !important;
}
* {
  cursor: none;
  box-sizing: border-box;
}

.cursor {
  position: fixed;
  left: 0;
  top: 0;
  width: 8px;
  height: 8px;
  z-index: 9999;
  pointer-events: none;
  background-color: #ffd359;
  border-radius: 50px;
  transition: all 0.2s ease;
}

#outerCircle {
  content: "";
  position: fixed;
  width: 50px;
  height: 50px;
  border: 1px solid black;
  border-radius: 50px;
  transition: border 0.2s ease, border-radius 0.2s ease, transform 0.2s ease;
  pointer-events: none;
  z-index: 2000;
}
.inner-circle-hovered {
  transform: scale(0.7);
}

.cursor-hovered {
  transform: scale(2);
  border-radius: 15px !important;
}
.outer-circle-removed {
  border: 1px solid transparent !important;
}

.cursor.click::before {
  animation: click 5s ease;
}

@keyframes click {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(5);
  }
}
.section-header {
  background-color: white;
  padding: 1rem 3rem;
  border: 1px solid black;
  border-radius: 5rem;
  font-size: 30px;
  font-weight: 500;
  width: fit-content;
}
.marquee {
  width: 100%;
  overflow-x: hidden;
  white-space: nowrap;
  /* height: 10vh; */
}

.text-2 {
  white-space: collapse;
  text-wrap: nowrap;
  display: inline-block;
  overflow: hidden;
  font-style: italic;
  font-size: 180px;
}

@keyframes moveText {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100vw);
  }
}

.marquee span {
  display: inline-block;
  animation: marquee 100s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(100vw);
  }

  100% {
    transform: translateX(-100%);
  }
}

/* Navigation Bar Styles */
.navbar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 2%;
  width: 100%;
}
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 0 1%;
  align-items: center;
}
.navbar-right-section {
  display: flex;
  gap: 1rem;
}
.dashed-border {
  width: 100%;
  height: 65px;
  background: white;
  color: black;
  border-radius: 50px;
  border: dashed 1.5px;
}

.Nav {
  margin-right: 2%;
  margin-top: 0.6%;
}

.logo-small {
  width: 100px;

  border: none;
  cursor: none;
}

.nav-item {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: fit-content;
  text-wrap: nowrap;
}

.nav-item {
  color: #ff66c4;
  padding: 5px 20px;
  text-decoration: none;
  font-size: 20px;
  width: fit-content;
  border-radius: 30px;
  border: 1.5px solid black;
  background-color: white;
}

.nav-item:hover {
  background-color: #f4f1ea;
  border-radius: 20px;
  color: #ff66c4;
  border: 1.5px solid #ff66c4;
  /* cursor: none; */
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
  font-weight: bold;
}
.resume {
  color: #f8256b;
}
.resume:hover {
  color: #f8256b;
  border: 1.5px solid #f8256b;
}

.nav-item.active {
  background-color: white;
  border-radius: 30px;
}

.work {
  color: #0b82e4;
}
.work:hover {
  color: #0b82e4;

  border: 1.5px solid #0b82e4;
}
.nav-dot {
  width: 2rem !important;
  height: 2rem !important;
  transition: all 0.3s ease;
  border-radius: 50%;
  background: linear-gradient(
    to right,
    #ff66c4,
    #ffde59,
    #ab2ccb,
    #f8256b,
    #fd7223,
    #0b82e4
  );
}
.active-dot {
  transition: all 0.3s ease;

  background: black !important;
}
.inside-sidebar-dot {
  position: absolute;
  top: 3rem !important;
  right: 3rem !important;
  width: 2rem !important;
  aspect-ratio: 1/1;
}
.side-nav {
  background: url("../Images/Background offwhite colour.png") center center
    fixed;
  position: fixed;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  height: 100%;
  width: 100%;
  background-color: white;
  z-index: 100;
  padding: 1.5vh 2vw;
  /* display: none; */
  transition: all 0.3s ease;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.side-nav-active {
  transform: translateX(0);
}
.side-nav-hidden {
  transform: translateX(100%) !important;
}
.border-container {
  width: 100%;
  height: 100%;
  border: 2px solid black;
  border-radius: 2rem;
  padding: 1rem;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
}
.mob-nav-item {
  font-size: 1rem !important;
}
/* Hero Section */

.dot {
  height: 1rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  display: block;
}
.dot-1 {
  background: linear-gradient(45deg, #f4dd77, #f4a777, #ea808e);
}

div {
  unicode-bidi: isolate;
}

.job-title {
  border: none;
  border-radius: 100px;
  font-size: 4vw;
  font-weight: 550;
  flex: 1;
}

/* about me section */

.header-container {
  width: 100%;
  display: flex;
  justify-content: start;
  padding: 0 2%;
}
.text-1 {
  word-spacing: 8px;
}

/* Case study items */
.case-studies-header {
  color: #ffd359;
}
a {
  text-decoration: none;
  color: black;
}

.case-study-list-item-1 {
  margin-top: 300px;
  color: #0b82e4;
}

.case-study-list-item-2 {
  margin-top: 20px;
  color: #ff66c4;
}

.case-study-list-item-3 {
  margin-top: 20px;
  color: #fd7223;
}

.case-study-list-item-4 {
  margin-top: 20px;
  color: #ab2ccb;
}

.case-study-card-01:hover {
  border: solid 1.5px #0b82e4;
  background-color: #f4f1ea;
  border-radius: 250px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
}

.case-study-card-01:hover::after {
  content: url("../Images/6.png");
  position: absolute;
  right: 200px;
  height: 290px;
  border: 1px solid #0b82e4;
  border-radius: 30px;
  overflow: hidden;
  z-index: 100;
}

.case-study-card-02:hover {
  border: solid 1.5px #ff66c4;
  background-color: #f4f1ea;
  border-radius: 250px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
}
.case-study-card-02:hover::after {
  content: url(../Images/5.png);
  position: absolute;
  right: 200px;
  height: 290px;
  border: 1px solid #ff66c4;
  border-radius: 30px;
  overflow: hidden;
  z-index: 100;
}

.case-study-card-03:hover {
  border: solid 1.5px #fd7223;
  background-color: #f4f1ea;
  border-radius: 250px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
}

.case-study-card-03:hover::after {
  content: url(../Images/8.png);
  position: absolute;
  right: 200px;
  height: 290px;
  border: 1px solid #fd7223;
  border-radius: 30px;
  overflow: hidden;
  z-index: 100;
}

.case-study-card-04:hover {
  border: solid 1.5px #ab2ccd;
  background-color: #f4f1ea;
  border-radius: 250px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
}

.case-study-card-04:hover::after {
  content: url(../Images/7.png);
  position: absolute;
  right: 200px;
  height: 290px;
  border: 1px solid #ab2ccb;
  border-radius: 30px;
  overflow: hidden;
  z-index: 100;
}

.case-study-list-text-1 {
  color: #0b82e4;
}

.case-study-list-text-2 {
  color: #ff66c4;
}

.case-study-list-text-3 {
  color: #fd7223;
}
.case-study-list-text-4 {
  color: #ab2ccb;
}

/* description section */
.description-section {
  display: flex;
  justify-content: center;
  font-size: 25px;
  align-items: center;
  padding: 2rem 2%;
  width: 100%;
  position: relative;
}
.description-section::after {
  position: absolute;
  content: "";
  background-color: black;
  height: 5px;
  width: 100%;
  top: 0;
  left: 0;
}
.description-section::before {
  position: absolute;
  content: "";
  background-color: black;
  height: 5px;
  width: 100%;
  bottom: 0;
  left: 0;
}
.description-section .description-text {
  background-color: white;
  color: black;
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 0.5rem;
}
.description-section .description-text p {
  width: fit-content;
  margin: 0;
}

/* case study styles section */
.cases-container {
  width: 100%;
  display: flex;
  flex-direction: column;

  padding: 0 2%;
  margin-bottom: 2rem;
}
.case-study-card-01 {
  color: #0b82e4;
}
.case-study-card-01:hover {
  border-color: #0b82e4;
}
.case-study-card-02 {
  color: #ff66c4;
}
.case-study-card-02:hover {
  border-color: #ff66c4;
}
.case-study-card-03 {
  color: #fd7223;
}
.case-study-card-03:hover {
  border-color: #fd7223;
}
.case-study-card-04 {
  color: #ab2ccb;
}
.case-study-card-04:hover {
  border-color: #ab2ccb;
}
.case-study-card {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  font-size: 35px;
  justify-content: space-between;
  padding: 2rem 3%;
  border: dashed 1.5px black;
  border-radius: 30px;
  background-color: white;
  transition: all 0.3s ease;
  margin-bottom: 2rem;
}
.case-study-card span {
  font-weight: bold;
}
.case-study-card:hover {
  border-radius: 5rem;
  border-width: 0.2rem;
  border-style: solid;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
}
.case-study-card .badges-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-wrap: nowrap;
}
.case-study-card .badges-container .card-badge {
  display: flex;
  align-self: center;
  justify-content: center;
  width: fit-content;
  padding: 0.1rem 1rem;
  border-width: 1px;
  border-style: solid;
  text-wrap: nowrap;
  font-size: 1.2rem;
  border-radius: 5rem;
}
.animated-circles-container {
  display: flex;
  align-items: center;
  width: fit-content;
  margin-left: 2rem;
}
.animated-circle {
  width: 120px;
  height: 120px; /* Ensure height matches width for perfect circle */
  border-radius: 5000px !important; /* Make it a circle */
  background-color: white;
  position: relative;
  overflow: hidden;
  -webkit-border-radius: 5000px !important; /* Webkit prefix for border-radius */
  -moz-border-radius: 5000px !important; /* Mozilla prefix for border-radius */
  -ms-border-radius: 5000px !important; /* Microsoft prefix for border-radius */
  -o-border-radius: 5000px !important; /* Opera prefix for border-radius */
  margin-left: 0.6rem;
}

.colored-background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    to right,
    #ff66c4,
    #ffde59,
    #ab2ccb,
    #f8256b,
    #fd7223,
    #0b82e4
  );
  border-radius: 5000px !important;
  animation: spin 10s linear infinite;
}
.circle-text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 0.5rem;
  text-align: center;
  padding: 2px 0.5rem;
  font-weight: 500;
  z-index: 20;
}
.circle-text:hover {
  text-decoration: underline;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.big-marquee-text {
  white-space: collapse;
  text-wrap: nowrap;
  display: inline-block;
  overflow: hidden;
  font-style: italic;
  font-size: 180px;
}

@keyframes moveText {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100vw);
  }
}

/* Footer */
.footer-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 1rem 2% 2rem 2%;
}
.footer {
  box-sizing: border-box;
  background: white;
  border: dashed 1.5px;
  color: black;
  border-radius: 50px;
  width: 100%;
  height: 65px;
}

.footer-text {
  font-size: 15px;

  margin-left: 50px;
  margin-top: 22px;
}

@media only screen and (max-width: 1024px) {
  .section-header {
    font-size: 1.3rem !important;
  }
  .case-study-card {
    font-size: 1rem !important;
  }
  .badges-container {
    justify-content: end !important;
    gap: 0.5rem !important;
  }
  .card-badge {
    font-size: 0.5rem !important;
  }
  .nav-item {
    font-size: 0.8rem;
  }
  .dot {
    width: 0.5rem;
    height: 0.6rem;
  }

  .animated-circle {
    width: 80px;
    height: 80px;
  }
  .description-text {
    font-size: 0.8rem !important;
  }

  .circle-text {
    font-size: 0.8rem;
    font-weight: 500;
  }
}
@media only screen and (max-width: 700px) {
  .section-header {
    font-size: 1.1rem !important;
  }
  .animated-circle {
    width: 60px;
    height: 60px;
  }
  .circle-text {
    font-size: 0.65rem;
    font-weight: 500;
  }
}
@media only screen and (max-width: 480px) {
  .section-header {
    padding: 0.7rem 2rem;
    font-size: 0.7rem !important;
  }
  .show-on-mobile {
    display: block !important;
  }
  .hide-on-mobile {
    display: none !important;
  }
  .navbar {
    padding-left: 5%;
    padding-right: 5%;
  }
  .logo-small {
    /* height: ; */
    width: 4rem !important;
  }

  .animated-circle {
    width: 80px;
    height: 80px;
  }
  .circle-text {
    font-size: 0.6rem;
    font-weight: 500;
  }

  .dot {
    width: 0.3rem !important;
    height: 0.3rem !important;
  }

  .marquee img {
    height: 5rem !important;
  }
  .marquee .big-marquee-text {
    font-size: 4rem !important;
  }
  .marquee .text-2 {
    font-size: 4rem !important;
  }
  .case-study-card {
    flex-direction: column;
    padding: 0.5rem 2% !important;
    border-radius: 0 !important;
    align-items: start !important;
    margin-bottom: 0.5rem;
  }
  .case-study-card span {
    font-size: 1rem;
    flex-direction: column;
    margin-bottom: 1rem;
  }

  .case-study-card:hover::after {
    display: none !important;
  }
  .badges-container {
    justify-content: end !important;
    gap: 0rem !important;
    width: 100%;
    justify-content: center !important;
  }
  .card-badge {
    font-size: 0.7rem !important;
    padding: 0.2rem 0.3rem !important;
    margin: 0 0.1rem !important;
  }
  .case-study-card-01 {
    border-color: #0b82e4;
    border-style: solid;
  }

  .case-study-card-02 {
    border-color: #ff66c4;
    border-style: solid;
  }

  .case-study-card-03 {
    border-color: #fd7223;
    border-style: solid;
  }

  .case-study-card-04 {
    border-color: #ab2ccb;
    border-style: solid;
  }
  .description-section {
    flex-direction: column;
  }
  .description-text {
    font-size: 0.6rem !important;
    margin-bottom: 1rem;
  }
  .animated-circles-container {
    margin-left: 0 !important;
  }
}
