.let-talk-page-marquee {
  margin-top: 25vh;
}
.description-text {
  font-size: 80px;
}
.lets-ralk {
  color: black;
}
@media only screen and (max-width: 1024px) {
  .lets-talk {
    font-size: 2rem !important;
  }
}
@media only screen and (max-width: 480px) {
  .lets-talk {
    font-size: 1.3rem !important;
  }
}
